<div class="navbar bg-base-100 navbar">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/about">Vacay</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li tabindex="0">
          <a>
            Menu
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100 border-dark border">
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Sign Out</a></li>
            <li><a href="/profile">Create New</a></li>
           
          </ul>
        </li>
      </ul>
    </div>
  </div>