<div class="navbar bg-base-100 navbar navbar-expand">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/profile">Vacay</a>
    </div>
    <div class="flex-none">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown" href="/login"> Login </a>
            <a class="dropdown-item" href="/logout"> Sign Out </a>
            <a class="dropdown-item" href="/account"> Account </a>
            <a class="dropdown-item" href="/profile"> Create New </a>
            <a class="dropdown-item" href="/feed"> Feed </a>
            <a class="dropdown-item" href='/about'>About</a>
          </div>
        </li>
      </ul>
    </div>
  </div>