.signuptext {
    color: white;
}

.navbar {
    position: relative;
    z-index: 10000;
    border: 3px black;
}

.signupnote {
    color: rgb(224, 224, 224) !important;
}

.largestfeeddiv {
    display: flex;
    flex-wrap: wrap;
}
.divforbutton {
    width: 100%;
}
.feeddiv{
    display: flex;
    justify-content: center !important;
}

.accounth1 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.accounth2 {
    font-weight: 600;

}
/* .fa-heart{
    color: rgb(255, 59, 59) !important;
}
.fa-trash{
    color: rgb(0, 157, 0) !important;
}
.fa-trash:hover{
    color: white !important;
} */

form .btn {
    color: rgb(0, 0, 152) !important;
    
}
form .btn:hover {
    color: white !important;
}